* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  margin: auto auto;
  background-color: #F5F5F5;
}

form {
  width: 100%;
  padding: 16px;
}

#banderaId{

  display: none;
}

#imgSection{

  width: 100%;
  height: 200px;
  overflow: hidden;
}

#imgSectionCont{

  width: 100%;
  padding: 18px;
}

#imgSectionCont img{

  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

form:not(:first-child){

  display: none;
}

#enviarForm .formCont{

  text-align: center;
}

#contHideForm .formCont {
  width: 100%;
  margin-bottom: 16px;
}

#contHideForm .formCont h3{

  margin-bottom: 8px;
}

form .fileCont {
  width: 100%;
  padding: 10px 24px 10px 0;
}

form .fileCont input{
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 130px;
  vertical-align: middle;
  color: transparent;
}

form .fileCont label {
  display: inline-block;
  width: 60px;
  text-align: left;
  vertical-align: middle;
}

#indexCont{

  text-align: center;
}

#container #img404Cont{
 
  background-color: red;
}

#container #img404Cont #img404{
 
  background: url(./css/bg_404.png) no-repeat center center fixed; 
  background-color: red;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container #msg404Cont{

  float: left;
}

#contHideForm .formCont input, #contHideForm .formCont select, #contHideForm .formCont textarea {
  display: inline-block;
  vertical-align: top;
  width: 48.9%;
  margin: auto auto;
  margin: 0 8px 16px 0;
  padding: 10px 15px;
  color: gray;
}

#roundButtonsCont{

  width: 100%;
  display: inline-block;
}

#roundButtonsCont .btn-round {
    background-color: #FFB300;
    border-radius: 999em;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 36px;
    position: relative;
    cursor: pointer;
}

#roundButtonsCont .btn-round.back{

  float: left;
}

#roundButtonsCont .btn-round.plus{

  display: none;
}

#roundButtonsCont .btn-round.next, #roundButtonsCont .btn-round.plus{

  float: right;
  margin-left: 8px;
}

#roundButtonsCont .btn-round:first-child{
    
    
}

#roundButtonsCont .btn-round span {
    position: absolute;
    left: 0;
    top: 55%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -23px;
    color: #FFF;
}

footer {
  width: 100%;
  height: 128px;
  color: white;
  background-color: #1565C0;
  box-shadow: 0 -2px 10px lightgray;
}

#contHideForm input[type='submit'] {
  width: 104px;
  height: 36px;
  cursor: pointer;
  border-radius: 4px;
  border:1px solid white;
  -webkit-box-shadow: 1px 2px 1px #d1d1d1;
  -moz-box-shadow: 1px 2px 1px #d1d1d1;
  box-shadow: 1px 2px 1px #d1d1d1;
  background-color: white;
}

form input[type='submit']:hover {
  color: gray;
}

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

iframe{

    display: none;
}

#imgBack {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 300px;
  background-image: url('../Pkback.png');
  background-position: 50% 70%;
  background-size: cover;
  box-shadow: 0 4px 10px #161616;
}

section{

  width: 100%;
  margin: 32px 0;
  border-radius: 2px;
  background-color: inherit;  
}

section #registerTitle {

  max-width: 1000px;
  margin:auto auto;
  padding: 16px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px lightgray;
     -moz-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
}

section #registerTitle h2, #registerTitle h3 {
  text-align: center;
}

section #introCont {

  width: 100%;
  height: 100px;
  text-align: center;
}


section #contForm{

  max-width: 1000px;
  margin:auto auto;
  padding: 8px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px lightgray;
     -moz-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;  
}

section #contForm h2{

  text-align: center;
}


h1 {
  font-family: 'Oxygen', sans-serif;
  color: white;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 300%;
  color: #1565C0;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 200%;
  color: #212121;
}

header {
  width: 100%;
  color: white;
  background-color: #1565C0;
  box-shadow: 0 2px 10px lightgray;
}

header #firstHeaderCont{

  margin:auto auto;
  max-width: 1000px;
  height: 64px;
}

header #firstHeaderCont #imgHeaderCont {
  height: 64px;
}

header #firstHeaderCont #imgHeaderCont h1 {
  line-height: 64px;
  display: inline-block;
  padding: 0 8px;
  vertical-align: top;
}

header #firstHeaderCont #imgHeaderCont img {
  display: inline-block;
  margin-left: 24px;
}

header nav {

  width: inherit;
  height: inherit;
  background-color: #FAFAFA;
}

header nav #navInsideCont{

  margin:auto auto;
  max-width: 1000px;
}

header nav #navInsideCont #principal {
  height: inherit;
}

header nav #navInsideCont #alternative {

  padding-top: 6px;
  display: none;
  position: absolute;
}

header nav #navInsideCont #alternative li{

  background-color: #FAFAFA;
  line-height: 44px;
  height: 44px;
  display: block;
}

header nav #navInsideCont #alternative li a{

  height: 44px;
}


header nav #navInsideCont #alternative li:hover{

  background-color: #F5F5F5;
  border-bottom: 0;
}

header nav #navInsideCont ul li {
  line-height: 64px;
  display: inline-block;
  min-width: 120px;
  height: inherit;
  text-align: center;
  text-decoration: none;
}

header nav #navInsideCont ul li a {
  display: block;
  height: 64px;
  text-decoration: none;
  color: gray;
}

header nav #navInsideCont ul li:hover {
  border-bottom: 2px solid #1E88E5;
}

.title {
  width: 100%;
  margin: auto auto;
  padding: 25px;
  text-align: center;
}

.pokemon {
  display: inline-block;
  width: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
}

.pokemon .foto {
  display: inline-block;
  width: 40%;
  margin-left: -60px;
  vertical-align: top;
  border: 1px dashed white;
}

.pokemon .foto img {
  width: 100%;
  height: 100%;
}
.pokemon .info {
  display: inline-block;
  width: 60%;
  max-width: 100px;
  text-align: left;
}

#contHideForm .formCont select[name="idSth"]{

  display: none;
}

/*
@media screen and ( max-width: 900px ){
  #introductionSection {
    width: 80%;
  }
}
*/